
<h1>Followings</h1>


<% @followings.each do |user| %>
	<div class="clearfix">
		<%= gravatar_for(user, size: 50) %>
		<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
		<%= user.name %>
	</div>


	<hr>


<% end %>
